# Data and History
history/
data/*.csv
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Logs and Output
logs/
*.log
*.txt
!requirements.txt
!outputs/

# Results and Plots
results/
*.png
*.pdf

# Configuration Secrets
config.json

# IDEs
.vscode/
.idea/
.spyderproject
